# Supabase Configuration
VITE_SUPABASE_URL=https://vtftzmfdhckfkzcaxodx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0ZnR6bWZkaGNrZmt6Y2F4b2R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NzAwNjYsImV4cCI6MjA5NjU0NjA2Nn0.itDIARWKKlq2n_MP4LK2rF9V9bE0_cgyYdoVaao8lbI

# Admin Credentials (Update with your secure credentials)
VITE_ADMIN_USERNAME=PARMEET SINGH
VITE_ADMIN_PASSWORD=8791
VITE_ADMIN_RECOVERY_PHONE=9814543031

# Application Environment
VITE_APP_ENV=development
